.main-container {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    font-family: Roboto;
    margin: 0 0;
}

.main-container p {
    margin: 0;
}

.search-container {
    display:flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-top: 3vh;
    height: 5vh;
    outline: 5px solid yellow;;

}

.search-container > img:first-of-type {
    position: absolute;
    left: -1vw;
    height: 70%;
}

.search-container > input {
    flex: 0.9;
    height: 100%;
    border-radius: 2vw;
    background-color: var(--input-background-color);
    outline: none;
    border: none;
    padding-left: 4.5vw;
    font-size: 2.5vh;
}

.search-container > img {
    height: 50%;
    margin: 0 2vw;
}

.search-container > img:last-of-type {
    height: 70%;
}

.buttons-area {
    margin: 2vh 0;
    display:flex;
    flex-direction: row;
    font-family: Roboto;
    justify-items: normal;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    margin-right: 1vw;
    width: 12vw;
}

.default-button {
    border-radius: 0.5vw;
    background-color: var(--input-background-color);
    border: none;
    color: gray;
    font-size: 2vh;
    font-weight: bold;
    margin: 1vh 0;
    outline: none;
    padding: 0.75vw;
}

.added-button {
    border-radius: 0.5vw;
    background-color: white;
    border: none;
    color: gray;
    font-size: 2vh;
    font-weight: bold;
    margin: 1vh 0;
    outline: 1px solid darkgray;
    padding: 0.75vw;
}

button {
    font-family: Roboto;
}

.plusbutton {
    cursor: pointer;
}

h1 {
    font-size: 130%;
    margin-top: 4vh;
    margin-bottom: 0.75vh;
}