.main-container {
    display: flex;
    flex: 0.8;
    flex-direction: column;
    font-family: Roboto;
    padding: 2vw 5vw 0 0;
}

.main-container input:not(.radios) {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0.2, 0.2, 0.2, 0.2);
    color: #757575;
    font-size: small;
    height: 4vh;
    padding-left: 1vw;
}

.main-container>form {
    display: flex;
    flex-direction: column;
}

.notifications {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}

.data-container-coluna1 {
    display: flex;
    flex-direction: column;
}

.data-container-coluna2 {
    display: flex;
    flex-direction: column;
}

.data-container-coluna3 {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: large;
    font-weight: bolder;
    margin: 0.4vh 0;

}

p {
    font-size: 80%;
    font-weight: normal;
    margin: 0.3vh 0 1.5vh 0;
}

.id-container * {
    font-size: large;
    font-weight: bold;
    margin: 0.25vw 0;
}

.id-container {
    display: flex;
    flex-direction: row;
}

.id-container-coluna1 {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-right: 1.5vw;
}

.id-container-coluna2 {
    display: flex;
    flex-direction: column;
    flex: 0.5;
}

.radios-container {
    display: flex;
    flex-direction: column;
}

.radios-inputs {
    color: #757575;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.radios-inputs-coluna1 {
    margin-right: 8vw;
}

.address-container {
    align-items: space-evenly;
    display: flex;
    flex-direction: column;
}

.address-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address-inputs * {
    font-size: 2vh;
    font-weight: 500;
}

.address-inputs input {
    margin: 0.25vw 0;
}

.address-inputs>div {
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight: 100;
}

.address-inputs-coluna1 {
    flex: 0.3;
    margin: 0.25vw 0.25vw 0.25vw 0;
}

.address-inputs-coluna2 {
    flex: 0.1;
    margin: 0.25vw;
}

.address-inputs-coluna3 {
    flex: 0.2;
    margin: 0.25vw;
}

.address-inputs-coluna4 {
    flex: 0.2;
    margin: 0.25vw;
}

.address-inputs-coluna5 {
    flex: 0.2;
    margin: 0.25vw 0 0.25vw 0.25vw;
}