* {
    margin: 0.2vw
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.main-container>form {
    display: flex;
    flex-direction: column;
}

.notifications {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.id-container {
    display: flex;
    flex-direction: row;
}

.id-container-coluna1 {
    display: flex;
    flex-direction: column;
    flex: 50;
}

.id-container-coluna2 {
    display: flex;
    flex-direction: column;
    flex: 50;
}

.radios-container {
    display: flex;
    flex-direction: column;
}

.radios-inputs {
    display: flex;
    flex-direction: row;
}

.address-container {
    display: flex;
    flex-direction: column;
}

.address-inputs {
    display: flex;
    flex-direction: row;
}

.address-inputs>div {
    display: flex;
    flex-direction: column;
}

.address-inputs-coluna1 {
    flex: 0.35;
}

.address-inputs-coluna2 {
    flex: 0.05;
}

.address-inputs-coluna3 {
    flex: 0.2;
}

.address-inputs-coluna4 {
    flex: 0.2;
}

.address-inputs-coluna5 {
    flex: 0.2;
}

.contract-container {
    display: flex;
    flex-direction: row;
}

.contract-container-coluna1 {
    display: flex;
    flex: 0.5;
    flex-direction: column;
}

.contract-container-coluna2 {
    display: flex;
    flex: 0.5;
    flex-direction: column;
}