<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/edit.css">
    <title>G2 Corretora - Edição</title>
</head>

<body>
    <div class="side-container">
        <img id="logo" src="/static/images/logo.webp" alt="">
        <div class="side-bar-container">
            <div onclick="window.location.href='/tabela/'">
                <img src="/static/images/inbox.svg" alt="inbox">
                <p>Caixa de Entrada</p>
            </div>
            <div>
                <img src="/static/images/sino.svg" alt="sino">
                <p>Notificações</p>
            </div>
            <div onclick="window.location.href='/cadastro/'">
                <img src="/static/images/add_user.svg" alt="sino">
                <p>Cadastrar cliente</p>
            </div>
            <hr>
            <div id="config-button" onclick="window.location.href='/config/'">
                <img src="/static/images/settings.svg" alt="sino">
                <p>Configurações</p>
            </div>
            <div onclick="window.location.href='/'">
                <img src="/static/images/exit.svg" alt="sino">
                <p>Sair</p>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="notifications">
            <img src="/static/images/sino2.svg" alt="sino2">
        </div>

        <div class="data-container">
            <div class="data-container-coluna1">
                <h2>Empresa</h2>
                <p id="nome-da-empresa">At varius vel pharetra</p>
                <h2>Representante</h2>
                <p id="nome-do-representante">Velit laoreet id</p>
                <h2>Email</h2>
                <p>velitlaoreetid@gmail.com</p>
                <div class="round-buttons-container">
                    <a href=""><img src="/static/images/Grupo 47.svg" alt="Link"></a>
                    <a href=""><img src="/static/images/Grupo 48.svg" alt="Email"></a>
                    <a href=""><img src="/static/images/Grupo 49.svg" alt="Whatsapp"></a>
                    <a href=""><img src="/static/images/Grupo 50.svg" alt="Local"></a>
                </div>
            </div>
            <div class="data-container-coluna2">
                <h2>Pessoa</h2>
                <p>Jurídica</p>
                <h2>CPF/CNPJ</h2>
                <p>00.344.716/0001-06</p>
                <h2>Telefone</h2>
                <p>+55 41 9 9999-9999</p>
                <h2>Endereço</h2>
                <p>Nunc id cursus metus, 135 - Velit - ES</p>
            </div>
            <div class="data-container-coluna3">
                <h2>Tipo do Contrato</h2>
                <p>Aeronáutico</p>
                <h2>Valor do Contrato</h2>
                <p>R$9.999.999,99</p>
                <h2>Contrato Vigente até</h2>
                <div class="contract-validity">
                    <p>01/08/2024</p>
                    <button class="update-button">Renovar</button>
                </div>
            </div>
        </div>

        <div class="editions-container off">
            <div class="id-container">
                <div class="id-container-coluna1">
                    <label for="input-empresa">Empresa</label>
                    <input id="input-empresa" type="text" placeholder="Empresa">
                    <label for="input-telefone">Telefone</label>
                    <input id="input-telefone" type="text" maxlength="15" placeholder="Telefone">
                    <div class="radios-container">
                        <h2>Pessoa</h2>
                        <div class="radios-inputs">
                            <div class="radios-inputs-coluna1">
                                <input class="radios" type="radio" id="radio-cpf" value="cpf" name="person">
                                <label for="radio-cpf">Física</label>
                            </div>
                            <div class="radios-inputs-coluna2">
                                <input class="radios" type="radio" id="radio-cnpj" value="cnpj" name="person">
                                <label for="radio-cnpj">Jurídica</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="id-container-coluna2">
                    <label for="input-nome">Representante</label>
                    <input id="input-nome" type="text" placeholder="Representante">
                    <label for="input-email">E-mail</label>
                    <input id="input-email" type="email" placeholder="E-mail">
                    <label class="empresa" id="label-cnpj" for="input-cnpj">CNPJ</label>
                    <input class="empresa" id="input-cnpj" type="text" placeholder="CNPJ">
                    <label class="pessoa-fisica" id="label-cpf" for="input-cpf">CPF</label>
                    <input class="pessoa-fisica" id="input-cpf" type="text" placeholder="CPF">
                </div>
            </div>
            <div class="address-container">
                <h2>Endereço</h2>
                <div class="address-inputs">
                    <div class="address-inputs-coluna1">
                        <label for="input-rua">Rua</label>
                        <input id="input-rua" type="text" placeholder="Rua">
                    </div>
                    <div class="address-inputs-coluna2">
                        <label for="input-numero">Número</label>
                        <input id="input-numero" type="text" placeholder="Número">
                    </div>
                    <div class="address-inputs-coluna3">
                        <label for="input-bairro">Bairro</label>
                        <input id="input-bairro" type="text" placeholder="Bairro">
                    </div>
                    <div class="address-inputs-coluna4">
                        <label for="input-cidade">Cidade</label>
                        <input id="input-cidade" type="text" placeholder="Cidade">
                    </div>
                    <div class="address-inputs-coluna5">
                        <label for="input-estado">Estado</label>
                        <input id="input-estado" type="text" placeholder="Estado">
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons-container">
            <button class="delete-button">Deletar</button>
            <button class="edit-button">Editar</button>
            <button class="save-button">Salvar Alterações</button>
        </div>

    </div>

</body>

<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/edit.js"></script>
</footer>

</html>