<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <title>G2 Corretora - Cadastro</title>
</head>

<body onload="brython({cache:true})">
    <div class="side-container">
        <img id="logo" src="/static/images/logo.webp" alt="">
        <div class="side-bar-container">
            <div onclick="window.location.href='/tabela/'">
                <img src="/static/images/inbox.svg" alt="inbox">
                <p>Caixa de Entrada</p>
            </div>
            <div>
                <img src="/static/images/sino.svg" alt="sino">
                <p>Notificações</p>
            </div>
            <div onclick="window.location.href='/cadastro/'">
                <img src="/static/images/add_user.svg" alt="sino">
                <p>Cadastrar cliente</p>
            </div>
            <hr>
            <div id="config-button" onclick="window.location.href='/config/'">
                <img src="/static/images/settings.svg" alt="sino">
                <p>Configurações</p>
            </div>
            <div onclick="window.location.href='/'">
                <img src="/static/images/exit.svg" alt="sino">
                <p>Sair</p>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="notifications">
            <img src="/static/images/sino2.svg" alt="sino2">
        </div>

        <div class="id-container">
            <div class="id-container-coluna1">

                <label for="input-empresa">Empresa</label>
                <input id="input-empresa" type="text" placeholder="Empresa">

                <label for="input-telefone">Telefone</label>
                <input id="input-telefone" type="text" maxlength="15" placeholder="Telefone">

                <div class="radios-container">
                    <h2>Pessoa</h2>
                    <div class="radios-inputs">
                        <div class="radios-inputs-coluna1">
                            <input class="radios" type="radio" id="radio-cpf" value="cpf" name="person">
                            <label for="radio-cpf">Física</label>
                        </div>
                        <div class="radios-inputs-coluna2">
                            <input class="radios" type="radio" id="radio-cnpj" value="cnpj" name="person">
                            <label for="radio-cnpj">Jurídica</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="id-container-coluna2">

                <label for="input-nome">Representante</label>
                <input id="input-nome" type="text" placeholder="Representante">

                <label for="input-email">E-mail</label>
                <input id="input-email" type="email" placeholder="E-mail">

                <label class="empresa" id="label-cnpj" for="input-cnpj">CNPJ</label>
                <input class="empresa" id="input-cnpj" type="text" placeholder="CNPJ">

                <label class="pessoa" id="label-cpf" for="input-cpf">CPF</label>
                <input class="pessoa" id="input-cpf" type="text" placeholder="CPF">

            </div>
        </div>

        <div class="address-container">
            <h2>Endereço</h2>
            <div class="address-inputs">
                <div class="address-inputs-coluna1">
                    <label for="input-rua">Rua</label>
                    <input id="input-rua" type="text" placeholder="Rua">
                </div>
                <div class="address-inputs-coluna2">
                    <label for="input-numero">Número</label>
                    <input id="input-numero" type="text" placeholder="Número">
                </div>
                <div class="address-inputs-coluna3">
                    <label for="input-bairro">Bairro</label>
                    <input id="input-bairro" type="text" placeholder="Bairro">
                </div>
                <div class="address-inputs-coluna4">
                    <label for="input-cidade">Cidade</label>
                    <input id="input-cidade" type="text" placeholder="Cidade">
                </div>
                <div class="address-inputs-coluna5">
                    <label for="input-estado">Estado</label>
                    <input id="input-estado" type="text" placeholder="Estado">
                </div>
            </div>
        </div>

        <div class="contract-container">
            <div class="contract-container-coluna1">
                <label for="input-contract-type">Tipo do Contrato</label>
                <input id="input-contract-type" type="text" placeholder="Tipo do Contrato">

                <label for="input-contract-validity">Contrato Vigente até</label>
                <input id="input-contract-validity" type="date">
            </div>
            <div class="contract-container-coluna2">
                <label for="input-contract-value">Valor do Contrato</label>
                <input id="input-contract-value" type="text" placeholder="Valor do Contrato">

                <label for="input-url">URL (Opcional)</label>
                <input id="input-url" type="url" placeholder="URL">
            </div>
        </div>

        <div class="buttons-container">
            <button class="cancel-button">Cancelar</button>
            <button class="add-button">Adicionar</button>
        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/javascript/jquery.mask.js"></script>
    <script type="text/python" src="/static/brython/signup.py"></script>
</footer>

</html>