<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/visualization.css">
    <title>G2 - Visualização</title>
</head>
<body onload="brython({cache:true})">
    <div class="side-container">
        <img id="logo" src="/static/images/logo.webp" alt="">
        <div class="side-bar-container">
            <div>
                <img onclick="window.location.href='/tabela/'" src="/static/images/inbox.svg" alt="inbox">
                <p>Caixa de Entrada</p>
            </div>
            <div>
                <img src="/static/images/sino.svg" alt="sino">
                <p>Notificações</p>
            </div>
            <hr>
            <div id="config-button" onclick="window.location.href='/config/'">
                <img src="/static/images/settings.svg" alt="sino">
                <p>Configurações</p>
            </div>
            <div onclick="window.location.href='/'">
                <img src="/static/images/exit.svg" alt="sino">
                <p>Sair</p>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="search-container">
            <img src="/static/images/lupa.svg" alt="">
            <input type="text" placeholder="Pesquisar por empresa">
            <img src="/static/images/stairs.svg" alt="stairs">
            <div class="notifications-container">
                <img src="/static/images/sino2.svg" alt="sino2">
                <div class="notifications-circle">
                    <p id="notifications-number">2</p>
                </div>
                <div class="notifications-tooltip">
                    <div class="arrow-up"></div>
                    <p>teste</p>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table>
                <thead class="table-header">
                    <tr>
                        <th><input type="checkbox" name="checkbox" id="header-checkbox"></th>
                        <th>Empresa</th>
                        <th>Nome</th>
                        <th><div class="status-header status">
                            <p>Status</p>
                            <div class="arrow-down"></div>
                            <div class="arrow-up"></div>
                        </div></th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Vencimento</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="foot-container">
            <div class="pages-container">
                <p id="previous-page"><</p>
                <div class="pages">

                </div>
                <p id="next-page">></p>
            </div>
            <div class="filter-container">

            </div>

        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/python" src="/static/brython/visualization.py"></script>
</footer>
</html>