<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/visualization.css">
    <title>G2 - Visualização</title>
</head>
<body onload="brython({cache:true})">
    <div class="loading-container">
        <h1>CARREGANDO</h1>
    </div>
    <div class="side-container">
        <img id="logo" src="/static/images/logo.webp" alt="">
        <div class="side-bar-container">
            <div id="inbox-sidebar-button">
                <img src="/static/images/inbox.svg" alt="inbox">
                <p>Caixa de Entrada</p>
            </div>
            <div id="notifications-sidebar-button">
                <img src="/static/images/sino.svg" alt="sino">
                <p>Notificações</p>
            </div>
            <div onclick="window.location.href='/cadastro/'">
                <img src="/static/images/add_user.svg" alt="sino">
                <p>Cadastrar cliente</p>
            </div>
            <hr>
            <div id="config-button" onclick="window.location.href='/config/'">
                <img src="/static/images/settings.svg" alt="sino">
                <p>Configurações</p>
            </div>
            <div onclick="window.location.href='/'">
                <img src="/static/images/exit.svg" alt="sino">
                <p>Sair</p>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="search-container">
            <img src="/static/images/lupa.svg" alt="">
            <input id="search-input" type="text" placeholder="Pesquisar">
            <div class="filter-container">
                <img src="/static/images/stairs.svg" alt="stairs">
                <div class="filter-tooltip">
                </div>
            </div>
            <div class="notifications-container">
                <img src="/static/images/sino2.svg" alt="sino2">
                <div class="notifications-circle">
                    <p id="notifications-number">0</p>
                </div>
                <div class="notifications-tooltip">
                    <div class="arrow-up"></div>
                    <div>
                        <img class="notifications-exclamation" src="/static/images/warning-black.svg" alt="">
                        <p>Faltam <span class="vencimentos-dias vencimentos-60" id="vencimentos-dias-60">60 dias</span> para o vencimento de <span class="vencimentos-cadastros vencimentos-60" id="vencimentos-cadastros-60">0</span> cadastros.</p>
                    </div>
                    <hr>
                    <div>
                        <img class="notifications-exclamation" src="/static/images/warning-yellow.svg" alt="">
                        <p>Faltam <span class="vencimentos-dias vencimentos-30" id="vencimentos-dias-30">30 dias</span> para o vencimento de <span class="vencimentos-cadastros vencimentos-30" id="vencimentos-cadastros-30">0</span> cadastros.</p>
                    </div>
                    <hr>
                    <div>
                        <img class="notifications-exclamation" src="/static/images/warning-red.svg" alt="">
                        <div class="cadastros-vencidos">
                            <p>Faltam <span class="vencimentos-dias vencimentos-15" id="vencimentos-dias-15">15 dias</span> para o vencimento de <span class="vencimentos-cadastros vencimentos-15" id="vencimentos-cadastros-15">0</span> cadastros.</p>
                            <p><span id="vencidos-dias" class="vencimentos-15 vencimentos-dias">0</span> cadastros vencidos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table>
                <thead class="table-header">
                    <tr>
                        <th><input type="checkbox" name="checkbox" id="header-checkbox"></th>
                        <th>Empresa</th>
                        <th>Nome</th>
                        <th><div class="status-header status">
                            <p>Status</p>
                            <div class="arrow-down"></div>
                            <div class="arrow-up"></div>
                        </div></th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Vencimento</th>
                        <th>Aviso</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="foot-container">
            <div class="pages-container">
                <p id="previous-page"><</p>
                <div class="pages">

                </div>
                <p id="next-page">></p>
            </div>
            <div class="mass-action-container">
                <div class="mass-status">
                    <p>Status</p>
                    <div class="arrow-up arrows"></div>
                    <div class="arrow-down arrows"></div>
                    <div class="mass-status-tooltip">
                        
                    </div>
                </div>
                <div><img src="/static/images/trash.svg" alt="lixeira"></div>
            </div>

        </div>
    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/python" src="/static/brython/visualization.py"></script>
</footer>
</html>